/target

.idea/

src/sampledata.json

windows/Rust4Diva installer.exe

.flatpak-builder/

flatpak/flatpak-cargo-generator.py

flatpak/pyproject.toml

flatpak/poetry.lock

aur/Rust4Diva/

aur/src/

.vscode/

flatpak/diva_repo/

flatpak/rust4diva.flatpak

flatpak/rust4diva-sources.json

linux/

aur/

ghtoken.txt
