[Desktop Entry]
Type=Application
NoDisplay=false
Terminal=false
Exec=rust4diva %u
Icon=xyz.rust4diva.Rust4Diva
Name=Rust4Diva
Comment=Mod manager for Project Diva
Categories=Game
MimeType=x-scheme-handler/divamodmanager