[Desktop Entry]
Type=Application
NoDisplay=false
Terminal=false
Exec=/usr/bin/rust4diva %u
Icon=rust4diva.png
Name=Rust4Diva
Comment=Mod manager for Project Diva
Categories=Gaming
MimeType=x-scheme-handler/divamodmanager